/*basicreset{{{*/
:root {
  --color1: rgb(2, 21, 38);
  --color2: rgb(3, 52, 110);
  --color2v: rgb(0, 48, 104);
  --color3: rgb(110, 172, 218);
  --color4: rgb(226, 226, 182);
  --color5: rgb(0, 128, 128);
  --color6: rgb(64, 224, 208);
  /* font-family: Helvetica; */
  font-family: Inter, sans-serif;
  color:white;
}

body {
  background-color: var(--color1);
  height: 100%;

  /* merge into one selector */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* merge into one selector */
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;

  /* maintain aspect-ratio */
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/*}}}*/

body{
display:flex;
flex-flow:column;
align-items: center;
}

.input-section{
  padding:25px;
  border-radius:10px;
  margin:30px;
  background: var(--color2);
  display:flex;
  flex-flow:column;
}

.submit-button{
  align-self:flex-end;
  padding:0 20px;
}

.title{
  align-self:center;
  font-size:20px;
  font-weight:900;
}

.input-section>*{
  padding:5px;
}


